<h1>THE HAIR SALON</h1>

<h2> Look Good Feel Good Live Great</h2>

<p> Manage your stylists and their clients using this simple app</p>

<small><a href="/stylists">View Stylists</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/addStylist">Add New Stylist</a></small>