<div class="alert alert-success mt40 text-center post-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	<strong>Stylist</strong> Has Been <strong>Updated Successfully</strong>. <a href="/stylists" class="alert-link">View Stylists</a>.
</div>